UX/Prototype/SampleData/SampleConnections/SampleConnections.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Blend.SampleData.SampleConnections" targetNamespace="Blend.SampleData.SampleConnections" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleConnections" type="tns:SampleConnections" />
  <xs:complexType name="SampleConnections">
    <xs:sequence>
      <xs:element name="Connection" type="tns:Connection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Connection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ConnectionItem" type="tns:ConnectionItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConnectionItem">
    <xs:sequence>
      <xs:element name="Changeover" type="tns:Changeover" />
    </xs:sequence>
    <xs:attribute blend:Format="Time" name="StartTime" type="xs:string" />
    <xs:attribute blend:Format="Time" name="EndTime" type="xs:string" />
    <xs:attribute blend:FormatParameters="2" name="Changeovers" type="xs:double" />
  </xs:complexType>
  <xs:complexType name="Changeover">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ChangeoverItem" type="tns:ChangeoverItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChangeoverItem">
    <xs:attribute name="TrainName" type="xs:string" />
    <xs:attribute name="Location" type="xs:string" />
  </xs:complexType>
</xs:schema>